[Desktop Entry]
Version=1.0
Type=Application
Name="Luciole LED"
Comment="Contrôle LED"
Exec=bash "/home/guiglaz/Documents/stim generation/arduino/ChromAlambic/Luciole/Luciole.sh"
Path="/home/guiglaz/Documents/stim generation/arduino/ChromAlambic/Luciole/"
Icon=utilities-terminal
Terminal=false
Categories=Science;Engineering;
